.MenuPai
{
	float: left;
	width: 908px;
	_width: 905px;
	z-index: 10000;
	font-family: Arial, Helvetica, sans-serif;
}
.MenuHome
{
	padding-top: 10px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 60px;
	background-color: #6c6c6c;
	padding-right: 15px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}
.MenuSuporte
{
	padding-top: 10px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 60px;
	background-color: #6c6c6c;
	padding-right: 15px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}

.MenuBlog
{
	padding-top: 10px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 60px;
	background-color: #6c6c6c;
	padding-right: 0px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}

.MenuTwitter
{
    padding-top: 3px;
	height: 32px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 30px;
	background-color: #6c6c6c;
	padding-right: 15px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}

.MenuFacebook
{
    padding-top: 3px;
	height: 32px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 30px;
	background-color: #6c6c6c;
	padding-right: 15px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}  

.MenuNewsletter
{
    padding-top: 10px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 80px;
	background-color: #6c6c6c;
	padding-right: 15px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}

.MenuFaleConosco
{
    padding-top: 10px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma , Arial;
	cursor: pointer;
	width: 120px;
	background-color: #6c6c6c;
	padding-right: 0px;
	padding-left: 15px;
	color: White;
	float: left;
	border-right: 1px solid white;
}

.MenuPaiProdutos
{
	padding-top: 10px;
	_padding-top:8px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma, Arial;
	cursor: pointer;
	width: 134px;
	background-color: #6c6c6c;
	color: White;
	float: left;
	border-right: 1px solid white;
}
.MenuPaiEmpresa
{
	padding-top: 10px;
	_padding-top:8px;
	height: 25px;
	font-size: 13px;
	font-family: Verdana , Tahoma, Arial;
	cursor: pointer;
	width: 115px;
	background-color: #6c6c6c;
	color: White;
	float: left;
	border-right: 1px solid white;
}
.Frases
{
	text-align: left;
	padding-left: 88px;
}
.Frase
{
	filter: alpha(opacity=0);
	width: 736px;
	height: 27px;
	z-index: 1;
}
.Rodape
{
	float:left;
	text-align:left;
	padding-left:20px;	
}
.TextoRodapeCima
{
	color:#808080;
	font-size:14px;
	font-weight:600;
	font-family:Tahoma;
	padding-top:12px;	
}
.TextoRodapeCima a:visited
{
	color:#00A5CD;
	font-weight:bold;
	text-decoration:none;
}
.TextoRodapeCima a:hover
{
	text-decoration:none;
	color:#00A5CD;
	font-weight:bold;
}
.TextoRodapeCima a:link
{
	color:	#00A5CD;
	font-weight:bold;
	text-decoration:none;
}
.TextoRodapeBaixo
{
	color:#9f9f9f;
	font-size:11px;
	font-family:Tahoma;
	font-weight:lighter;
}
.TextoRodapeBaixo a:visited
{
	text-decoration:none;
	color:#9f9f9f;	
}
.TextoRodapeBaixo a:hover
{
	text-decoration:none;
	color:#909090;
}
.TextoRodapeBaixo a:link
{
	text-decoration:none;
	color:#9f9f9f;	
}
.MenuFilhoEmpresa
{
	z-index: 3000;
	position: relative;
	_position: absolute;
	_margin-left: -50px;
	display: none;
	border: 1px solid #d1d1d1;
	border-top: 0px;
	width: 115px;
	cursor: pointer;
	background-color: #6c6c6c;
	text-align: left;
}
.MenuFilhoProdutos
{
	z-index: 4000;
	position: relative;
	_position: absolute;
	_margin-left: -68px;
	display: none;
	border: 1px solid #d1d1d1;
	border-top: 0px;
	width: 230px;
	cursor: pointer;
	background-color: #6c6c6c;
	text-align: left;
}
.Automacao
{
	display: none;
}
.Textos
{
	text-align: justify;
	margin: 20px;
	font-family: Arial;
	font-size: 12px;
	color: #6c6c6c;
}
.Textos h2
{
	font-size: 16px;
	font-family: Verdana;
	color: #00A4Cd;
}
.Textos h3
{
	font-size: 14px;
	font-family: Verdana;
	color: #c0c0c0;
}
.Textos h1
{
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana;
	color: #c0c0c0;
}

.BoxPai 
{
    width: 950px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}

.Box
{
	float: left;
	border: 1px solid #6c6c6c;
	height: 149px;
}
.Box img
{
	/*Somente para o IE6*/
	_margin-bottom:-4px;
}
.Cabecalho
{
	font-family: Tahoma, Verdana , Arial;
	font-size: small;
}
.Corpo
{
}
.JanelaFlutuante
{
	width: 940px;
	background-color: #00FFFF;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
}
div#defaultPage
{
	padding-top: 15px;
}
div#centerPages
{
	padding-top: 15px;
}
div#site
{
	width: 940px;
	height: 100%;
	margin: 5px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF;
	color: #000;
}
div#cabecalho
{
	width: 100%;
	height: 70px;
	padding: 0px;
	background-image: url( '../images/TopoMeio.gif' );
	background-repeat: repeat-x;
}
div#menu
{
	width: 100%;
	height: 35px;
	padding: 0px 0px 0px 0px;
	margin: 1px 0px 0 0;
	background-color: #f8c566;
}

div#centro
{
	width: 911px;
	height: 100%;
	background-color: White;
	display: none;
}
div#centroDefault
{
	width: 911px;
	_width: 909px;
	height: 239px;
	padding: 0px 0px 0px 0px;
	margin: 5px 0px 0 0;
	_margin-right: -6px;
	border-bottom: 1px solid #6c6c6c;
	border-top: 1px solid #6c6c6c;
}
/*div#rodape
{
	width: 100%;
	height: 20px;
	padding: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}*/

body
{
	background: #FFF;
	color: #333;
	text-align: center;
	font: 16px "Trebuchet MS" ,Verdana,Arial,sans-serif;
}

.secao {background-color:#EEEEEE; padding: 15px; margin: 0px 0px 15px 0px;}

.Textos #titulo
{
	font-size: 16px;
	font-weight: bold;
	font-family: Verdana;
	color: #00A4Cd;
}

.Textos strong
{
	font-family: Arial;
	font-size: 12px;
	font-weight: bolder;	
	color: #00A4Cd;
}

.Textos a
{
	text-decoration:none;
}

.mini
{
	margin-right: 35px;
	border: none;
}


span { margin-right: 20px; }

.link {	text-decoration:none; }

#cor { color:gray; }